.stow-local-ignore
.config/qtile/__pycache__/
.config/mpd/state
.config/zsh/.zsh_history
.config/mpd/database
.config/nvim/lazy-lock.json
.config/mpd/playlists/
.config/mpd/playlists
.config/ncmpcpp/error.log
.config/beets/library.db
.config/state.pickle
.config/nvim/cd-project.nvim.json
